body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #5354a8;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
   background-color: #2c2d80;
}

main {
    padding: 2rem;
    text-align: center;
}

.slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.slide {
    flex: none;
    width: 80%;
    scroll-snap-align: start;
    margin: 0 auto;
    position: relative;
}

.slide img {
    width: 80%;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 2px;
}

.explore-btn {
    background-color: #5354a8;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.explore-btn:hover {
  background-color: #2c2d80;
}

footer {
    width: 100%;
    background-color: #5354a8;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin: 0 10px;
    color: white;
}

.icon:hover {
    color: #2c2d80;
}

